# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Generated plugin registrant
**/GeneratedPluginRegistrant.java
**/GeneratedPluginRegistrant.m
**/GeneratedPluginRegistrant.swift

# Android related
**/android/.gradle/
**/android/captures/
**/android/gradle/
**/android/local.properties
**/android/.idea/
**/android/app/key.properties

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/.generated/

# Windows related
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/runner/GeneratedPluginRegistrant.*

# Linux related
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h

# Web related
**/web/.dart_tool/
**/web/.flutter-plugins
**/web/.flutter-plugins-dependencies

# IDE files
.idea/
.vscode/
*.iml

# Other
*.log
*.lock
*.pyc
*.obj
*.class
*.swp

# Exceptions (keep)
!/packages/flutter_tools/test/data/dart_dependencies_test/.packages
